<h1>Calendar</h1>
<p style="color: green"><%= notice %></p>

<%# Agenda calendar %>
<%#= SimpleCalendar::Calendar.new(self, number_of_days: 14).render do |day| %>

<%# Monthly calendar %>
<%= SimpleCalendar::MonthCalendar.new(self, events: @meetings).render do |day| %>
<%#= SimpleCalendar::MonthCalendar.new(self).render do |day| %>

<%# Weekly calendar %>
<%#= SimpleCalendar::WeekCalendar.new(self).render do |day| %>
  <%= day %>
<% end %>

<%= link_to "New meeting", new_meeting_path %>
