<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>
<h1>Calendar <%= I18n.t('date.month_names')[start_date.month] %> <%= start_date.year %></h1>
<table>
  <thead>
    <tr>
      <% (0..6).each do |week_day| %>
        <th><%= I18n.t('date.abbr_day_names')[week_day] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% date_range.each_slice(7) do |week| %>
      <tr>
        <% week.each do |day| %>
          <td><%= day %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>